@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Euphoria+Script&family=Heebo:wght@300;400&family=Karla:wght@300;400&family=Ubuntu:wght@300;400&display=swap');

:root {
  --c-brand: #f6a5a1;
  --c-brand-b: #ff837c;
  --c-brand-dark: #7f635e;
  --c-brand-text: #5e4c48;
  --c-body: #f2dad5;
  --c-body-light: #F5ECE9;
  --f-ubuntu: 'Ubuntu', sans-serif;
  --f-heebo: 'Heebo', sans-serif;
  --f-karla: 'Karla', sans-serif;
  --f-dancing-script: 'Dancing Script', cursive;
  --f-euphoria-script: 'Euphoria Script', cursive;
  --transition: all .4s cubic-bezier(.165, .84, .44, 1);
  --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  margin-top: 0;
  font-family: var(--f-heebo) !important;
  font-weight: 300;
  font-size: 1em;
  background-color: var(--c-body-light) !important;
  color: var(--c-brand-text) !important;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1rem;
}





/* ***** COMPONENTS : NAVBAR ******/
#navbar {
  font-family: var(--f-ubuntu);
  background-color: var(--c-body-light);
  width: 100%;
  box-shadow: none;
  /* border-width: 0; */
  /* z-index: 99; */
  /* position: fixed; */
}

#basic-navbar-link {
  font-size: 1.1rem;
  font-family: var(--f-ubuntu);
  color: var(--c-brand-dark);
  text-decoration: none;
  margin: 0px 10px;
  padding: 5px 5px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  opacity: .9;
}

#basic-navbar-link:hover {
  font-family: var(--f-heebo);
  font-weight: 400;
  color: var(--c-brand);
  text-decoration: underline;
  overflow: hidden;
  transition: all 0.2s;
  transform: scale(1);
  opacity: 1;
  /* content: attr(alt); */
}

#basic-navbar-link:active {
  color: var(--c-brand);
  background-color: var(--c-body);

}



.logo-img {
  width: 75px;
  height: 45px;
}

.nav-icons {
  color: var(--c-brand);
  font-size: 1.8rem;
}

.bgc-image {
  width: 100%;
  height: 100vh;
  background: url('./images/BgImg3.jpg') no-repeat scroll center;
  background-size:cover;
  position: relative;
  /* bg: color image repeat attachment position */
}

.text-header {
  font-size: 2.6rem;
  /* font-style: italic; */
  letter-spacing: .4px;
  font-family: var(--f-euphoria-script);
}

.bgc-text-1a {
  color: var(--c-brand-b);
  font-size: 2.5rem;
}

.bgc-text-2 {
  font-size: 1.6rem;
  /* letter-spacing: .1rem; */
}

.bgc-text-3 {
  font-family: var(--f-karla);
}

.form-col2 {
  background-color: var(--c-body);
  /* justify-content: center; */
}

.form-radio {
  box-shadow: none;
  justify-content: center;
  align-items: center;
}
.radio-button {
  font-size: 1rem;
  /* background-color: green; */
}

.form-label {
  font-weight: 500;
}
.form-link {
  font-size: 1rem;
  font-weight: 500;
  color: var(--c-brand-text);
  text-decoration: none;
}

.form-link:hover{
  font-size: 1rem;
  font-weight: 500;
  color: var(--c-brand);
  text-decoration: underline;
}

.form-check {
  font-size: .90rem;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}

.cardHighlight{
  min-height: 100%;
}

#submitBtn {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  height: 40px;
  border: 0.5px solid whitesmoke;
  background-color: var(--c-brand);
}
 
#submitBtn:hover {
  background-image: linear-gradient(to right, #f283af, #f4a483, #f782b1 , #f1adaa);
  background-position: 100% 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* #submitBtn:active {
  background-color: var(--c-brand-text);
} */

/* #submitBtn:focus {
  outline: none;
} */

/* ***** COMPONENTS : PRODUCT SLIDER ******/
.slider-content {
  /* position: relative; */
  padding: 0 .8rem;
  background-color: var(--c-body-light);
  font-size: .90rem;
}

.slider-img {
  background-color: var(--c-body-light);
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  object-fit: cover;
  /* height: 250px; */
}

.slider-img:hover {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all .9s;
  transition: all .9s;
  opacity: .80;
}

.slider-title {
  font-size: .90rem;
  position: relative;
  -webkit-transition: .6s;
  transition: .6s;
}

.slider-link {
  color: var(--c-brand-text);
  text-align: center;
}

.slider-link:hover {
  color: var(--c-brand);
  font-weight: bold;
}

.slider-body {
  padding: .5rem;
}

/* ***** COMPONENTS : HIGHLIGHTS ******/
.full-highlights {
  background-color: var(--c-body);
}


.cardHighlight1{
  min-height: 100%;
  height: 8rem;
  border: none;
  background-color: #e8eff6;
  box-shadow: none;
}

.cardHighlight2{
  min-height: 100%;
  height: 8rem;
  border: none;
  background-color: rgb(247, 247, 200);
  box-shadow: none;

}

.cardHighlight3{
  min-height: 100%;
  height: 8rem;
  border: none;
  background-color: #f0eaf6;
  box-shadow: none;

}
/* ***** COMPONENTS : GALLERY ******/
.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.gallery-wrap .single {
  white-space: normal;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* .gallery-wrap .single img {
  object-fit: cover;
  min-width: 100%;
} */


/* .gallery-wrap .single img:hover {
  transform: scale(1.02);
} */



/* ***** COMPONENTS : FEATURED ******/
.section-feat {
  color: var(--c-brand-text);
  height: 500px;
  /* background-color: var(--c-brand) */
}

.feat-all {
  color: var(--c-brand-dark);
}

.feat-all:hover {
  color: var(--c-brand);
}

.icon-feat {
  color: var(--c-brand-dark);
}

.icon-feat:hover {
  color: var(--c-brand);
}

/* .img-feat {
  width: 160px; /* You can set the dimensions to whatever you want */
  height: 240px;
  object-fit: cover;
/* }  */

.row-feat {
  height: 200px;
}



/* */
/* ***** COMPONENTS : NOTES ******/
.notes-card {
  font-size: .75rem;
  font-weight: 100;
  background-color: var(--c-body-light);
  width: 24.5rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: .5rem; */
  /* border: .05px solid var(--c-body); */
}

.notes-title {
  font-size: .9rem;
  font-weight: 300;
}

.notes-icon {
  width: 4rem;
  height: 4rem;
}

.catalog{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative, absolute;
}



/* ***COMPONENTS: SCROLL-ANIMATION** */
.top-to-btm{
  position: relative;
}

.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.icon-style{
  background-color: var(--color-icons);
  border: 1px solid #fff;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  color: var(--c-brand);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: var(--c-brand);
  color: var(--c-body);
  border: 1px solid var(--c-body);
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}

/* ***** COMPONENTS : CONTENT ******/


/* ***COMPONENTS: SCROLL-ANIMATION** */
.card-content {
  width: 100%;
  height: 300px;
}

.highlightTextOut a:hover:before {
  transform: scale(1);
  opacity: .5;
}

.img-content {
  width: 80px;
  height: 40px;
}

.vid-content {
  width: 600px;
  height: 260px;
}

.title{
  font-size: 1.4rem;
  font-weight: 600;
}

/* .icon-archive {
  color: lightyellow;
} */

/* DASHBOARD */


/* BUTTONS */
.btn-gray:disabled {
  background-color: rgb(169, 175, 182)
}

.custom-btn {
  width: 160px;
  height: 40px;
  font-size: 1.1rem;
  /* text-transform: capitalize; */
  color: #fff;
  border-radius: 5px;
  padding: 5px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn {
  font-size: 1rem;
  background: var(--c-brand);
  border: none;
  /* z-index: 1; */
}

.btn:hover {
  background-color: var(--c-brand-b);
}

.btn:active {
  background-color: lightgreen;
}


/*  */
/* .btn:after {
  position: absolute;
  content: "";
  z-index: -1;
  border-radius: 5px;
  transition: all 0.3s ease;
  background: var(--c-brand);
} */

/* .btn:hover {
  color: #fff;
  background-color: var(--c-brand-b);
} */ 

/* FONTS */
/* .text-bold {
  font-weight: bold;
} */
.text-colored {
  color: var(--c-brand-dark);
}

.text-colored:hover {
  color: var(--c-brand);
}

.text-centered{
  text-align: center;
}

.text-head {
  font-size: 1.67rem;
}

.text-title {
  font-size: 1.5rem;
}

.text-subtitle {
  font-size: 1.3rem;
}

.text-bold {
  font-size: 1.2rem;
  font-weight: bold;
}

.text-normal {
  font-size: 1.1rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.soc-icons {
  font-size: 1.5rem;;
  color: var(--c-brand-dark);
}

.soc-icons:hover{
  color: var(--c-brand-dark);
}

